@model QTaxi.Models.TaxiCars

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaxiCars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.car_mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.car_mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxi.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxi.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
